body{
	font-family: 'Poppins', sans-serif;
	background: #e6e6e6;
}
p{
	font-family: 'Poppins', sans-serif;
	font-size: 1.1em;
	font-weight: 300;
	line-height: 1.7em;
	color: #999;
	margin-bottom:0px;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
}

/* Side Bar*/



#sidebar.active {
    margin-left: -250px;
}
.wrapper{
	display: flex;
	text-decoration: none;
	transition: all 0.3s;
}

#sidebar{
	min-width: 250px;
	max-width: 250px;
	background: #7386D5;
	color: #fff;
	transition: all 0.3s;
}


#sidebar .sidebar-header{
	padding: 20px;
	background: #6d7fcc;
}
#sidebar ul.components{
	padding: 20px 0;
	border-bottom: 1px solid #47748b;
}

#sidebar ul p{
	color: #fff;
	padding: 10px;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a:hover{
	color: #7386D5;
	background: #fff;
}
#sidebar ul li.active>a,
a[aria-expanded="true"] {
	color: #fff;
	background: #6d7fcc;
}

a[data-toggle="collapse"]{
	position: relative;
}

.dropdown-toggle::after{
	display: block;
	position: absolute;
	top: 50%;
	right: 20%;
	transform: translateY(-50%);
}9
ul ul a{
	font-size: 0.9em !important;
	padding-left: 30px !important;
	background: #6d7fcc;
}

#content{
	width: 100%;
	padding: 0px;
	min-height: 100vh;
	transition: all 0.3s;
}


@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

header{
background-color: #7386D5;
padding:10px;

position:relative;
color:white;
}
.loginbox{
  background-color:white;
  width: 80%;
  color:white;
  border-radius:5px;
  margin:100px;
  margin-left:130px;
}
.loginbox h1{
  
 
  font-size:20px;
  background-color: #F0F0F0;
  color:black	;
  padding:30px;
  letter-spacing: 1.5px;
  
}



.textbox{
  text-align:center;
  padding:8px 0;
  margin:8px 0;
  color:black;
  overflow:hidden;
  font-size:15px;
  width:100%;
}

input{
  height:37px;
  color:black;
  border-radius: 2px;
  border:2.5px solid #F0F0F0 ;
  width:100px;
  margin:5px;
  margin-right:10px;
}


.btns{
  width:70px;
  border-radius:4px;
  padding: 3px;
  background:#7386D5;
  border:none;
  color:white;
  font-size:17px;
  cursor:pointer;
   text-align:center;
  transform:translateX(350px);
  
  margin-bottom: 20px;
}